.App {
  text-align: center;
}
h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  padding-bottom: 20px;
  color: rgb(18, 2, 46);
}

img {
  height: 400px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid rgb(18, 2, 46);
  box-shadow: 1px 1px 5px rgb(140, 140, 142);
}
.main {
  height: 510px;
  width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(243, 243, 245);
  border-radius: 4px;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input-display {
  margin: 15px 15px 15px 20px;
}

#meme-id,
#top-text,
#bottom-text,
.download-btn,
.reset-btn {
  height: 30px;
  font-size: 24px;
  color: rgb(18, 2, 46);
}

.top-text,
.bottom-text,
.memeId,
.download-btn,
.reset-btn {
  margin: 10px;
}

.btn-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.download-btn,
.reset-btn {
  cursor: pointer;
  border: 1px solid rgb(18, 2, 46);
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgb(140, 140, 142);
  padding: 1px 10px 1px 10px;
}
